doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  p more stuff
  .test This box is blue because I said so

  p my stuff
  .test2 This is an ugly ass box